@tailwind base;
@tailwind components;
@tailwind utilities;

@import './home.module.css';
@import './contact.module.css';

:root {
  --main-theme-color: goldenrod;
  --main-theme-dark: #b5891b;
  --text-hightlight-color: antiquewhite;
  font-size: 11px;
}

.theme-dark-color {
  color: var(--main-theme-dark);
}

.bg-dark-theme {
  background: var(--main-theme-dark);
}

.quicks {
  font-family: 'Quicksand', sans-serif;
}

.brdr50 {
  border-bottom: 3px solid var(--main-theme-color);
  width: 50%;
}

.rotate {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.navMenu {
  transition: all 200ms linear;
}

.navMenu-show {
  height: 188px !important;
}

.footer_border {
  border-top: 7px solid var(--main-theme-dark);
}

.footer-icon {
  transition: all 100ms ease-in-out;
}

.footer-icon:hover {
  /* transform: scale(1.2); */
  color: goldenrod;
}

.btn {
  @apply rounded outline-none;
}

.btn:focus {
  outline: none;
}

.btn-theme {
  @apply text-white;
  background-color: var(--main-theme-color);
}

.btn-theme:hover {
  background-color: var(--main-theme-dark);
}

.hover_line:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hover_line:before {
  content: "";
  text-decoration: none;
  color: rgba(0,0,0,.4);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #4a5567;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--text-hightlight-color);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--text-hightlight-color);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--text-hightlight-color);
}

::-ms-selection {
  background-color: var(--text-hightlight-color);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--text-hightlight-color);
}

.nav-item {
  @apply inline-block no-underline py-2 px-4;
}

.nav-item.active {
  color: var(--main-theme-dark);
}

.bg-dark-theme .nav-item.active {
  color: black;
}

.nav-item:not(.active):hover {
  @apply text-black font-bold;
}

.blur {
  filter: blur(10px);
}

.z-1 {
  z-index: 1;
}

.buttonfx{
    color: #FFF;
    outline: none;
    border: 2px solid #4a5567;
    background: #4a5567;
    letter-spacing: 0.0625em;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s;
}

/* //// Default effect: Slide from Top  //// */

.buttonfx:before,
.buttonfx:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #FFF; /* onhover background color */
  z-index: 0;
  transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
  transition: all .5s;
}

.buttonfx:before{
  background: #4a5567; /* button default background color */
  z-index: 0;
  transform: translate3D(0,0,0);
}

.buttonfx:hover{
  color: #4a5567;
}

.buttonfx:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}

.slideleft:after{
  top: 0;
  z-index: 0;
  transform: translate3D(-101%,0,0);
}

.slideleft:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}