@tailwind base;
@tailwind components;
@tailwind utilities;

@import './home.module.css';

:root {
  --main-theme-color: goldenrod;
  --main-theme-dark: #b5891b;
}

.quicks {
  font-family: 'Quicksand', sans-serif;
}

.brdr50 {
  border-bottom: 3px solid var(--main-theme-color);
  width: 50%;
}

.btn {
  @apply rounded;
}

.btn-theme {
  @apply text-white;
  background-color: var(--main-theme-color);
}

.btn-theme:hover {
  background-color: var(--main-theme-dark);
}
