
.homeTestimonalBg {
  background: url("/images/bg1.webp") repeat fixed center;
}

.testimonialCard {
  @apply shadow bg-white p-20 relative;
  /* max-width: 500px; */
}

.testimonialCard .dummyImgBrdr {
  position: absolute;
  left: -180px;
  top: 25%;
  object-fit: cover;
  height: 165px;
  width: 160px;
  border: 7px solid white;
}

.testimonialCard img {
  position: relative;
  object-fit: cover;
  height: 165px;
  width: 160px;
}

.testimonialCard .quote {
  color: var(--main-theme-color);
  font-size: 30px;
}


@screen xs {
  .testimonialCard {
    padding: 40px 20px;
  }

  .testimonialCard img {
    left: 0;
    bottom: 0;
  }

  .testimonialCard .dummyImgBrdr {
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 30px;
  }
}

@screen md {
  .testimonialCard {
    padding: 75px 20px 60px 60px;
    width: 75%;
    margin-left: 25%;
  }

  .testimonial .testimonialCard {
    margin-left: 14%;
  }

  .testimonialCard img {
   left: 20px;
    bottom: 30px;
  }

  .testimonialCard .dummyImgBrdr {
    position: absolute;
    left: -135px;
    top: 25%;
    margin-bottom: auto;
  }
}